.colaboration {
  &__first-screen {
    color: #fff;

    &--margin-bottom-100 {
      margin-bottom: 100px;
    }
    
    &__row {
      display: flex;
      justify-content: flex-end;
      position: relative;

      @include onBigTablet {
        flex-direction: column;
      }
    }
    &__item {
      flex: 1 1 50%;
      padding: 148px 50px;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);

        z-index: 1;
      }

      &:first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 61%;
        background-image: url('../image/image-1.webp');
        clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
        h2, p {
          text-align: left;
          max-width: 75%;

          @include onBigTablet {
            max-width: 60%;
          }
        }

        @include onBigTablet {
          padding: 30px 20px 248px;
          width: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }

      &:last-child {
        position: relative;
        background-image: url('../image/collaboration-image-2.png');
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);

        @include onBigTablet {
          clip-path: polygon(0% 70%, 150% 0, 100% 100%, 0% 100%);

        }

        flex: 0 0 61%;
        h2, p {
          text-align: right;
          margin: 0 0 0 auto;
          max-width: 75%;

          @include onBigTablet {
            max-width: 60%;
          }
        }

        @include onBigTablet {
          padding: 248px 20px 30px;
        }

        @include onBigPhones {
          padding: 348px 20px 30px;
        }
      }
    }

    &__content {
      position: relative;
      z-index: 3;
    }

    &__title {
      color: #FFF;
      font-family: inherit;
      font-size: 45px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;

      @include onBigTablet {
        font-size: 30px;
      }
    }
    &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: normal;

      @include onBigTablet {
        font-size: 30px;
        font-size: 14px;
      }
    }
  }

  &__core-values {
    background-color: #F2F2F2;
    padding: 46px 0 80px;

    .core-values__text {
      color: #2C3540;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;

      margin-bottom: 70px;
    }
  }
}