.header {
  margin-bottom: 88px;
  padding: 15px 0;
  

  &__row {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
  }

  &__button {

    @include onBigPhones {
      display: none;
    }
  }
  &__logo {
    display: inline-block;
    width: 230px;
    height: 18px;
  }
  &__logo-image {
    width: 100%;
    height: auto;
  }
  &__menu {
    @include onTablet {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.95);
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition-duration: 300ms;

      transform: translate(0, -50%) rotateX(90deg) scale(0);
      border-radius: 50%;

      @include onBigPhones {
        transform: translate(70%, -70%) rotateX(90deg) scale(0);
        border-radius: 50% 0 50% 50%;
      }

      &._active {
        transform: translate(0, 0) rotateX(0) scale(1.002);
        border-radius: 0;
      }
    }
    ul {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;

      @include onTablet {
        flex-direction: column;
        height: 100%;
      }
    }

    a {
      color: #272727;
      font-size: 18px;
      font-weight: 400;
      transition-duration: 300ms;

      @include onTablet {
        color: #eee;
        font-size: 36px;
      }

      &:hover {
        color: #FF5B4E;
      }
    }

    .header__button {
      display: none;
      font-size: 16px;

      @include onBigPhones {
        display: flex;
      }
    }
  }
}